@import "../../styles/shared.scss";
.ui.menu.top-menu {
   border: none; // remove Semantic UI's bottom border
   .nav-container {
      display: flex;
      flex-grow: 1; // take available space in flex container
      justify-content: space-between;
      .logo {
         width: $sidebar-left-width;
         a {
            display: grid;
            img {
               width: 100px;
            }
         }
      }
      .search-input {
         flex-grow: 1;
         padding-left: 0;
         max-width: 640px;
         form {
            width: 100%;
         }
      }
      .menu {
         display: flex;
      }
   }
   .header-icon {
      color: #a0a0a0;
   }
}