@import './styles/shared.scss';
.app-layout {
   margin-top: $header-nav-height;
   margin-left: $sidebar-left-width;
   transition: $responsive-layout-trans; // TODO - remove 3 below props when done testing
   background: lightblue;
   border: 30px solid white;
   height: 100vh;
   ::-webkit-scrollbar {
      width: 6px;
   }
   @media (max-width: $window-small) {
      margin-left: 0px;
   }
}