@import "../../styles/shared.scss";

.video-list {
   display: grid;
   grid: auto / auto;
   justify-content: center;
   padding: 24px;

   .responsive-content {
      max-width: 1284px;
      margin: auto;
   }
}