.next-up-container {
   display: flex;
   justify-content: space-between; // justifies cells in relation to box
   align-items: center; // aligns cells on single line of box
   margin-bottom: 12px;

   h4 {
      margin: 0;
   }
   .next-up-toggle {
      display: flex;
      align-items: center;
      
      span {
         margin-right: 10px;
      }
   }
}