@import '../../styles/shared.scss';

.trending {
   margin-top: $header-nav-height;
   margin-left: $sidebar-left-width;
   display: grid;
   grid: auto / auto;
   justify-content: center;
}

.responsive-video-grid-container {
   max-width: 1284px;
}