.ratings {
	display: flex;
	position: relative;
	justify-content: space-around;
	width: 150px;

	.thumbs-up,
	.thumbs-down {
		cursor: pointer;

		&.highlight {
			color: red;
		}
	}

	.ratings-bar {
		position: absolute;
		width: 150px;
		left: 0;
      top: 25px;
	}

	&.comment {
		justify-content: space-between;
		width: 75px;
	}
}
