.ratings {
   display: inline-grid;
   grid: auto auto / max-content max-content;
   column-gap: 16px;
   row-gap: 4px;
   .thumbs-up {
      grid-area: 1/1 / 2/2;
   }
   .thumbs-down {
      grid-area: 1/2 / 2/3;
   }
   .progress {
      grid-area: 2/1 / 3/3;
      &.ui.progress:last-child {
         margin-bottom: 0;
      }
   }
}