@import "../../styles/shared.scss";
.ui.menu.top-menu {
   border: none; // remove Semantic UI's bottom border
   height: 64px;
   .nav-container {
      display: flex;
      flex-grow: 1; // take available space in flex container
      justify-content: space-between;
      .header-left {
         display: flex;
         align-items: center;
         width: $sidebar-left-width + 60px;
         i.icon {
            margin-right: 15px;
            color: $text-color-dark;
         }
         img {
            width: 120px;
         }
      }
      .search-input {
         flex-grow: 1;
         max-width: 640px;
         form {
            width: 100%;
         }
      }
      .header-right {
         width: $sidebar-left-width + 60px;
         display: flex;
         .item {
            padding: 0 15px;
            margin: 0;
            & > * {
               padding: 0;
               margin: 0;
            }
         }
      }
   }
   .header-icon {
      color: #a0a0a0;
   }
}