@import '../../styles/shared.scss';

.ui.menu.fixed.side-nav {
   background: #f5f5f5;
   margin-top: $header-nav-height;
   overflow-y: auto;
   padding-bottom: $header-nav-height;
   width: $sidebar-left-width;
   transition: transform .3s;

   .sidebar-item:hover {
      background: #ebebeb;
   }
}