@import "../../styles/shared.scss";

.video-metadata {
	color: #707070;
	font-size: 16px;

	h3 {
		font-weight: 400;
		color: $text-color-dark;
	}

	.video-stats {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;

		.video-actions {
			display: flex;
			align-items: center;

			.button {
				height: 30px;

				span {
					margin-left: 5px;
				}

				.highlight {
					color: red;
				}

				.icon {
					transition: transform 0.2s;
				}

				&:hover {
					.icon {
						transform: scale(1.2);
					}
				}
			}

			.ellipsis {
				padding: 0 5px;
				border: none;
				box-shadow: none;
			}

			& > * {
				margin-left: 20px;
				margin-right: 0;
			}
		}
	}
}
