@import "../../styles/shared.scss";

.ui.menu.fixed.side-nav {
	background: #f5f5f5;
	margin-top: $header-nav-height;
	padding-bottom: $header-nav-height;
	width: $sidebar-left-width;
	overflow-y: auto;
	transform: translateX(0px);
	transition: $sidebar-trans;

	.item {
		@include hover-background-light-red;
		@include hover-110x;
	}

	@media (max-width: $window-small) {
		transform: translateX(-240px);
	}
}
