@import "../../styles/shared.scss";
.sidebar-item {
   i.icon {
      width: 25px;
      margin-right: 20px;
      color: $text-color-medium;
   }
   &.selected {
      span {
         font-weight: 600;
         i.icon {
            color: red;
         }
      }
   }
   .sidebar-item-alignment-container {
      display: flex;
      align-items: center;
   }
}